/**** Importation de la police "Sora" ****/

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fffffe;
    color: #0d0d0d;
    font-family: "Sora", sans-serif;

}

/**** header ****/

header {
    justify-content: space-between;
    width: 100%;
    border-bottom: 4px solid #eff0f3;
}

/**** header, footer ****/

header,
footer {
    padding: 30px 90px;
    display: flex;
}

/**** nav ****/

.navigation,
.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__list__item {
    padding-right: 30px;
}

.navigation__list__item:last-child {
    padding-right: 0;
}

.navigation__list__item__link {
    font-size: 18px;
    color: #0d0d0d;
    transition: color 0.3s ease-in-out;
}

.navigation__list__item__link:hover {
    color: #ff8e3c;
}

/**** main ****/

.main__content {
    flex-grow: 1;
    padding: 60px 90px;
}

/**** section container ****/

.container {
    display: flex;
    justify-content: space-between;
}


.container__article,
.container__image {
    display: flex;
    flex-direction: column;
}

.container__article {
    width: 50%;
}

.container__title {
    font-size: 30px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 60px;
}

.btn {
    width: 250px;
    padding: 12px;
    text-align: center;
    font-weight: 600;
    background-color: #ff8e3c;
    color: #fffffe;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: opacity 0.3s ease-in-out
}

.btn:hover {
    opacity: 0.8;
}

.container__list__item {
    padding-right: 20px;
    transition: transform 0.3s ease-in-out;
}

.container__list__item:last-child {
    padding-right: 0;
}

.container__list__item:hover {
    transform: scale(1.3);
}

.container__image {
    width: 30%;
    justify-content: center;
    align-items: center;
}

/**** footer ****/

footer {
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 20px;
    text-align: center;
}